

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading {
  text-align: center;
}
button {
  border-style: solid;
  border-color: black;
  width: 100px;
  margin-left: 1000px;
}
.tablist-container {
  display: flex;
  color: #61dafb;
  font-size: medium;
}
.container {
  width:500px
}
.table-container {
  border: 5px;
}
table {
  border: 1px solid lightseagreen;
  width: 1350px;
  height: 400px;
}
  
th,td {
  border:.5px solid gray ;
  font-weight: 50px;
  font-size: small;
}
